/*LOG IN*/

.centro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.benvingut {

    padding-left: 5px;
    padding-right: 5px;
}

body {
    background-color: #EABFFA;
}

.lletra_blanca {
    color: #EABFFA;
}

/*INDEX*/